@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: #eaeaea;
}

.container {
  width: 480px;
  max-width: 80%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

input[type="text"] {
  margin: 1.2rem 0;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #eaeaea;
}

.btn {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
  border: none;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.btn:active {
  transform: scale(0.9);
}

#result {
  font-size: 2rem;
}
